<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Admin</title>
        <link href="./css/admin.css" rel="stylesheet">
    </head>
    
    <body>
        <div class="container">
            <div class="col-md-3" id="treelist">
            </div>
            <div class="col-md-9" id="setting_container">
            </div>
        </div>
        
        <script src="./lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="./lib/bootstrap-treeview/bootstrap-treeview.min.js"></script>
        <script src="./js/admin.js"></script>        
    </body>
</html>