<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Admin</title>
        <link href="./css/admin.css" rel="stylesheet">
    </head>
    
    <body>
        <div class="container">
            <div class="col-md-3" id="treelist">
            </div>
            <div class="col-md-9" id="setting_container">
                <!-- Tab -->
                <ul class="nav nav-tabs" id="myTab">
                    <li role="presentation" class="pull-left"><a href="#camera">Camera</a></li>
                    <li role="presentation" class="pull-left"><a href="#group">Group</a></li>
                    <li role="presentation" class="pull-left"><a href="#account">Account</a></li>
                </ul>
                
                <!-- Tab panes -->
                <div class="tab-content">
                    <div id="camera" role="tabpanel" class="starter-template tab-pane active">Camera</div>
                    <div id="group" role="tabpanel" class="starter-template tab-pane">Group</div>
                    <div id="account" role="tabpanel" class="starter-template tab-pane">Account</div>
                </div>
                
            </div>
        </div>
        
        <script src="./lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="./lib/bootstrap-treeview/bootstrap-treeview.min.js"></script>
        <script src="./js/admin.js"></script>        
    </body>
</html>